.row{
    background-color: black;
}
footer{
    color: rgb(155, 166, 165);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px whitesmoke;

}